<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="Test" parallel="classes" verbose="5">
    <classes>
 
       <class name="testCases.CreateLead"/>
       <class name="testCases.DeleteLead"/>
       
       <class name="testCases.EditLead"/>
      
      
     
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
